body {
    margin: 0 auto;
    font-family: "Smythe", serif;
    width: 600;
} 
header {
    margin-bottom: 30px;
}
.hero {
    display: flex;
    align-items: center;
    margin-left: 46px;
    margin-right: 46px;
    margin-top: 0px;
    height: 140px;
    border-bottom: 2px solid #D2D2D2;
    padding: 15px;
}
.detail-btn {
    width: 450px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
}
.item-name {
    font-size: 28px;
    margin: 0;
}
.item-ingredients{
    color: #8B8B8B;
    font-size: 16px;
    margin: 3 0 8 0;
}
.item-price {
    font-size: 20px;
    margin: 0;
}
.add-btn {
    font-family: "Inter";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 30px;
    border: 3px solid #DEDEDE;
    background-color: white;
    text-align: center;
    font-weight: 200;
    line-height: 0px;
    
}
.add-btn:hover {
    color: #16DB99;
    cursor: pointer;
    border-color: #16DB99;
    
}
#food-ico {
    font-family: "Inter";
    font-size: 50px;
}
.title {
    text-align: center;
}
.your-order {
    display: flex;
    flex-direction: column;
    margin: 0 46px;
    border-bottom: 2px solid #8B8B8B;
}
.your-order p {
    font-size: 20px;
}
.order-details {
    display: flex;
    justify-content: space-between;
}
.order-summary {
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#remove-btn{
    font-family: "Smythe", serif;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 16px;
    color: #BBBBBB;

}
#remove-btn:hover {
    color: #d11d1d;
}
.order-total {
    display: flex;
    justify-content: space-between;

}
.order-total h2 {

    margin-top: 14px;
}
.order-total p {
    font-size: 20px;
}
#comple-btn {
    width: 505px;
    height: 60px;
    background-color: #16DB99;
    color: whitesmoke;
    font-size: 16px;
    font-weight: 800;
    border-radius: 3px;
    border: none;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 0px;
}
#comple-btn:hover {
    background-color: #065F46;
    cursor: pointer;
    
    
}
.total-price {
    margin: 0 46px;
}
footer{
    display: none;
 
}
ul {
    list-style-type: none;
    padding: 0;
  }
li {
    display: flex;
    justify-content: center;
}
.payment-methode {
    display: none;
    background-color: white;
    margin: 0 auto;
    width: 525px;
    height: 400px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 3px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1), 0 8px 30px rgba(0, 0, 0, 0.1);
}
.payment-methode input {

    width: 400px;
    height: 50px;
    padding: 20px;
    font-size: 17px;
}
.input-placeholder {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
#pay-btn {
    width: 400px;
    height: 50px;
    background-color: #16DB99;
    border: none;
    border-radius: 3px;
    color: whitesmoke;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    margin-top: 35px;
}
#pay-btn:hover {
    background-color: #065F46;
}
.thank-you {
    margin: 0 auto;
    width: 500px;
    height: 120px;
    text-align: center;
    background-color: #ECFDF5;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 45px;
    color: #85CFBA;
    font-size: 30px;
}
